# EditorConfig: https://editorconfig.org/

# top-most EditorConfig file
root = true

# default params
[*]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
max_line_length = 120

[{Makefile,Makefile.jenkins}]
indent_style = tab

[{*.go,*.go.gotmpl}]
indent_style = tab

[{*.y*ml,*.yaml.gotmpl,package.json}]
indent_size = 2

[*.md]
indent_size = 4

[*.{js,jsx,ts,tsx}]
quote_type = single

[*.puml]
indent_style = tab